/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keypos_20keys.h"
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>


#define _A1      0
#define _A2      1
#define _NV      2
#define _NM      3
#define _SM      4
#define _FS      5
#define _BT      6

// &sk {
//     quick-release;
// };

&sl {
    release-after-ms = <1500>;
};

/ {
// ------------------------- MACROS --------------------------------
    macros {
        mlc_ou: macro_ou {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp O>
                , <&kp U>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";
// ------------------------- LAYER COMBOS --------------------------------
        combo_BOOT {
            timeout-ms = <40>;
            key-positions = <LOT LIT LTP LBP>;
            bindings = <&bootloader>;
        };

        combo_BT_CLR {
            timeout-ms = <40>;
            key-positions = <LTP LTR>;
            bindings = <&bt BT_CLR>;
            layers = <_BT>;
        };

        combo_BT {
            timeout-ms = <50>;
            key-positions = <LOT LIT>;
            bindings = <&mo _BT>;
            require-prior-idle-ms = <200>;
        };

        combo_UNLOCK {
            timeout-ms = <50>;
            key-positions = <ROT RIT>;
            bindings = <&studio_unlock>;
        };

        combo_FUN {
            timeout-ms = <50>;
            key-positions = <LIT RIT>;
            bindings = <&mo _FS>;
            require-prior-idle-ms = <200>;
        };

        combo_NAV {
            timeout-ms = <50>;
            key-positions = <RBI RBM RBR>;
            bindings = <&to _NV>;
            require-prior-idle-ms = <300>;
            layers = <_A1>;
        };

        combo_NUM {
            timeout-ms = <50>;
            key-positions = <LBI LBM LBR>;
            bindings = <&to _NM>;
            require-prior-idle-ms = <300>;
            layers = <_A1>;
        };

        combo_BASER {
            timeout-ms = <50>;
            key-positions = <RBI RBM RBR>;
            bindings = <&to _A1>;
            require-prior-idle-ms = <300>;
            layers = <_NV _NM>;
        };

        combo_BASEL {
            timeout-ms = <50>;
            key-positions = <LBI LBM LBR>;
            bindings = <&to _A1>;
            require-prior-idle-ms = <300>;
            layers = <_NV _NM>;
        };

// ------------------------- VOLUME COMBOS --------------------------------
        // combo_V_UP {
        //     timeout-ms = <40>;
        //     key-positions = <LTI LTM>;
        //     bindings = <&kp C_VOL_UP>;
        //     require-prior-idle-ms = <200>;
        //     layers = <_A1>;
        // };

        // combo_V_DN {
        //     timeout-ms = <40>;
        //     key-positions = <LBM LBI>;
        //     bindings = <&kp C_VOL_DN>;
        //     require-prior-idle-ms = <200>;
        //     layers = <_A1>;
        // };

        combo_MUTE {
            timeout-ms = <50>;
            key-positions = <LTI LTM>;
            bindings = <&kp C_MUTE>;
            layers = <_SM>;
        };

        // combo_ESC {
        //     timeout-ms = <50>;
        //     key-positions = <LTP LTR>;
        //     bindings = <&kp ESC>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_BSPC {
        //     timeout-ms = <50>;
        //     key-positions = <RBI RBM RBR>;
        //     bindings = <&kp BSPC>;
        //     layers = <_A1>;
        // };



// ------------------------- MODS COMBOS --------------------------------
        combo_CAPS {
            timeout-ms = <50>;
            key-positions = <LTI RTI>;
            bindings = <&caps_word>;
            require-prior-idle-ms = <250>;
            layers = <_A1 _A2>;
        };

        // combo_RALTL {
        //     timeout-ms = <40>;
        //     key-positions = <LMP LTP>;
        //     bindings = <&kp RALT>;
        //     require-prior-idle-ms = <200>;
        //     //layers = <_BASE>;
        // };

        // combo_RALTR {
        //     timeout-ms = <40>;
        //     key-positions = <LMP RTP>;
        //     bindings = <&kp RALT>;
        //     require-prior-idle-ms = <200>;
        //     //layers = <_BASE>;
        // };

// ------------------------- CHARACTER COMBOS --------------------------------
        combo_OU {
            timeout-ms = <300>;
            key-positions = <RTM RTR>;
            bindings = <&mlc_ou>;
            layers = <_A1>;
        };

        // combo_ARE {
        //     timeout-ms = <50>;
        //     key-positions = <LTI LTM LTR>;
        //     bindings = <&mlc_are>;
        //     layers = <_A1>;
        // };

        // combo_YOU {
        //     timeout-ms = <50>;
        //     key-positions = <RBI RBM RBR>;
        //     bindings = <&mm_you>;
        //     layers = <_A1>;
        // };

        // combo_THE {
        //     timeout-ms = <50>;
        //     key-positions = <LBI LBM LBR>;
        //     bindings = <&mm_the>;
        //     layers = <_A1>;
        // };

        // combo_COMMA {
        //     timeout-ms = <60>;
        //     key-positions = <RBM LIT>;
        //     bindings = <&kp COMMA>;
        //     layers = <_A1>;
        // };

        // combo_DOT {
        //     timeout-ms = <60>;
        //     key-positions = <RBR LIT>;
        //     bindings = <&kp DOT>;
        //     layers = <_A1>;
        // };

        // combo_QMARK {
        //     timeout-ms = <60>;
        //     key-positions = <RBP LIT>;
        //     bindings = <&kp QMARK>;
        //     layers = <_A1>;
        // };

        // combo_SEMI {
        //     timeout-ms = <60>;
        //     key-positions = <RTM LIT>;
        //     bindings = <&kp SEMI>;
        //     layers = <_A1>;
        // };

        // combo_COLON {
        //     timeout-ms = <60>;
        //     key-positions = <RTR LIT>;
        //     bindings = <&kp COLON>;
        //     layers = <_A1>;
        // };

        // combo_EXCL {
        //     timeout-ms = <60>;
        //     key-positions = <RTP LIT>;
        //     bindings = <&kp EXCL>;
        //     layers = <_A1>;
        // };

        combo_EXCL {
            timeout-ms = <50>;
            key-positions = <RTI RTM>;
            bindings = <&kp EXCL>;
            require-prior-idle-ms = <150>;
            layers = <_A1>;
        };

        combo_QMARK {
            timeout-ms = <50>;
            key-positions = <RBI RBM>;
            bindings = <&kp QMARK>;
            require-prior-idle-ms = <150>;
            layers = <_A1>;
        };

        combo_LPAR {
            timeout-ms = <40>;
            key-positions = <LBI LIT>;
            bindings = <&kp LPAR>;
            layers = <_A1>;
        };

        combo_RPAR {
            timeout-ms = <50>;
            key-positions = <RIT RBI>;
            bindings = <&kp RPAR>;
            layers = <_A1>;
        };

        combo_LBRC {
            timeout-ms = <50>;
            key-positions = <LBM LIT>;
            bindings = <&kp LBRC>;
            layers = <_A1>;
        };

        combo_RBRC {
            timeout-ms = <50>;
            key-positions = <RIT RBM>;
            bindings = <&kp RBRC>;
            layers = <_A1>;
        };

        combo_LBKT {
            timeout-ms = <50>;
            key-positions = <LBR LIT>;
            bindings = <&kp LBKT>;
            layers = <_A1>;
        };

        combo_RBKT {
            timeout-ms = <50>;
            key-positions = <RBR RIT>;
            bindings = <&kp RBKT>;
            layers = <_A1>;
        };

        combo_LT {
            timeout-ms = <50>;
            key-positions = <LBP LIT>;
            bindings = <&kp LT>;
            layers = <_A1>;
        };

        combo_GT {
            timeout-ms = <50>;
            key-positions = <RBP RIT>;
            bindings = <&kp GT>;
            layers = <_A1>;
        };

        // combo_PSCRN {
        //     timeout-ms = <40>;
        //     key-positions = <LBR LBI>;
        //     bindings = <&kp PSCRN>;
        //     layers = <_BASE _NAV>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_CP_M {
        //     timeout-ms = <40>;
        //     key-positions = <RTC RMC>;
        //     bindings = <&mac_cp>;
        //     layers = <_NAV>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_CP_W {
        //     timeout-ms = <40>;
        //     key-positions = <LTC LMC>;
        //     bindings = <&win_cp>;
        //     layers = <_NAV>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_PASTA_M {
        //     timeout-ms = <40>;
        //     key-positions = <RBM RBR>;
        //     bindings = <&kp LG(V)>;
        //     layers = <_BASE>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_PASTA_W {
        //     timeout-ms = <40>;
        //     key-positions = <LBM LBR>;
        //     bindings = <&kp LC(V)>;
        //     layers = <_BASE>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_FSLH {
        //     timeout-ms = <45>;
        //     key-positions = <RMM RMR>;
        //     bindings = <&kp FSLH>;
        //     layers = <_BASE _SYM>;
        // };

        // combo_BSLH {
        //     timeout-ms = <45>;
        //     key-positions = <LMR LMM>;
        //     bindings = <&kp BSLH>;
        //     layers = <_BASE _SYM>;
        // };
    };

    behaviors {
// ----------------------- ADAPTIVE-KEYS ------------------------------- 
        ak_bspc: ak_bspc {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&sl _A2>;

            akt_bspc { trigger-keys = <BSPC>; max-prior-idle-ms = <250>; bindings = <&kp BSPC>; };
        };


        ak_d: ak_d {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp D>;

            akt_th { trigger-keys = <T>; max-prior-idle-ms = <250>; bindings = <&kp H>; };
            akt_ch { trigger-keys = <C>; max-prior-idle-ms = <300>; bindings = <&kp H>; };
            akt_wh { trigger-keys = <W>; max-prior-idle-ms = <300>; bindings = <&kp H>; };
            akt_sh { trigger-keys = <S>; max-prior-idle-ms = <300>; bindings = <&kp H>; };
            akt_gh { trigger-keys = <G>; max-prior-idle-ms = <300>; bindings = <&kp H>; };

            akt_br { trigger-keys = <B>; max-prior-idle-ms = <300>; bindings = <&kp R>; };
        };

        ak_b: ak_b {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp B>;

            akt_sk { trigger-keys = <S>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_dk { trigger-keys = <D>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_tk { trigger-keys = <T>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_ph { trigger-keys = <P>; max-prior-idle-ms = <300>; bindings = <&kp H>; };
        };

        ak_r: ak_r {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp R>;

            akt_ng { trigger-keys = <N>; max-prior-idle-ms = <300>; bindings = <&kp G>; };
        };

        ak_t: ak_t {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp T>;

            akt_dv { trigger-keys = <D>; max-prior-idle-ms = <300>; bindings = <&kp V>; };
        };

        ak_p: ak_p {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp P>;

            akt_nk { trigger-keys = <N>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_lk { trigger-keys = <L>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_ck { trigger-keys = <C>; max-prior-idle-ms = <300>; bindings = <&kp K>; };
            akt_tv { trigger-keys = <T>; max-prior-idle-ms = <300>; bindings = <&kp V>; };
            akt_rv { trigger-keys = <R>; max-prior-idle-ms = <300>; bindings = <&kp V>; };
            akt_vt { trigger-keys = <V>; max-prior-idle-ms = <300>; bindings = <&kp T>; };
            akt_bn { trigger-keys = <B>; max-prior-idle-ms = <300>; bindings = <&kp N>; };
        };

        ak_y: ak_y {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp Y>;

            akt_ue { trigger-keys = <U>; max-prior-idle-ms = <300>; bindings = <&kp E>; };
        };

// ------------------------- TAP-DANCES --------------------------------
        win_cp: win_cp {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LC(V)>, <&kp LC(C)>, <&kp LC(X)>;
        };

        mac_cp: mac_cp {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LG(V)>, <&kp LG(C)>, <&kp LG(X)>;
        };

// ------------------------- HOLD-TAPS --------------------------------
        /* left-hand HRMs */
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        /* right-hand HRMs */
        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        rml: akr_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&ak_r>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        tml: akt_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&ak_t>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        asl: aks_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&ak_d>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        hsl: hrs_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        hsr: hrs_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        tht: thumb_holdtap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            bindings = <&kp>, <&kp>;
        };

        bst: backspace-tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <170>;
            //require-prior-idle-ms = <100>;
            bindings = <&mo>, <&kp>;
        };

        spt: space-tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <170>;
            //require-prior-idle-ms = <100>;
            bindings = <&mo>, <&kp>;
        };

// ------------------------- MOD-MORPHS --------------------------------
        // com_sem: comma_semicolon {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp COMMA>, <&kp SEMI>;
        //     mods = <(MOD_LSFT)>;
        // };

        // dot_col: dot_colon {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp DOT>, <&kp COLON>;
        //     mods = <(MOD_LSFT)>;
        // };

        // mm_you: mm_you {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&mlc_you>, <&muc_you>;
        //     mods = <(MOD_LSFT)>;
        // };

        // mm_the: mm_the {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&mlc_the>, <&muc_the>;
        //     mods = <(MOD_LSFT)>;
        // };
        
    };

    keymap {
        compatible = "zmk,keymap";

                alpha_1_layer{
// -------------------------------    -------------------------------
// |  B  |  L  |  M  |  P  |                |  C  |  O  |  U  |  Y  |
// |  N  |  R  |  T  |  D  |                |  S  |  A  |  E  |  I  |
//       | _SM(BSPC) | _A2(BSPC) |    | _NM(SPC) | _NV(SPC) |
                        bindings = <
   &ak_b       &kp L        &kp M       &ak_p             &kp C        &kp O       &kp U        &ak_y
   &hml LALT N &rml LCTRL R &tml LGUI T &asl LSHFT D      &hsr LSHFT S &hmr LGUI A &hmr LCTRL E &hmr LALT I 
                    &bst _SM BSPC  &bst _A2 BSPC          &spt _NM SPACE  &spt _NV SPACE
                        >;
                };
                        //  &bst _SM BSPC  &bst _A2 BSPC     &spt _NM SPACE  &spt _NV RET


                alpha_2_layer{
// -------------------------------    -------------------------------
// |  Q  |  W  |  F  |  K  |                |  G  |  ;  |  :  |  "  |
// |  X  |  J  |  V  |  H  |                |  Z  |  ,  |  .  |  '  |
//                  | BSPC |     |    | SPC | SPC |
                        bindings = <
   &kp Q       &kp W        &kp F       &kp K             &kp G        &kp SEMI        &kp COLON      &kp DQT
   &hml LALT X &hml LCTRL J &hml LGUI V &hsl LSHFT H      &hsr LSHFT Z &hmr LGUI COMMA &hmr LCTRL DOT &hmr LALT SQT
                            &kp BSPC    &none             &kp SPACE    &kp SPACE
                        >;
                };

                nav_layer {
// ---------------------------------    ---------------------------------
// | INS | wCP  | mCP | PGUP |               | TAB  |  UP  | DEL  | ESC |
// | PSC | HOME | END | PGDN |               | LEFT | DOWN | RGHT | RET |
//                   | SPC  | BSPC |    | BSPC | LS(SPC) |
                        bindings = <
   &kp INS         &win_cp         &mac_cp       &kp PG_UP          &kp TAB          &kp UP         &kp DEL          &kp ESC
   &hml LALT PSCRN &hml LCTRL HOME &hml LGUI END &hsl LSHFT PG_DN   &hsr LSHFT LEFT  &hmr LGUI DOWN &hmr LCTRL RIGHT &hmr LALT RET
                                   &kp SPACE     &kp BSPC           &kp BSPC         &tht LSHFT SPACE
                        >;
                };
                
                num_layer {
// -------------------------------    --------------------------------
// |  8  |  7  |  6  |  5  |                |  9  |  =  |  *  |  /  |
// |  4  |  3  |  2  |  1  |                |  0  | SPC |  +  |  -  |
//                  | . , | BSPC |    |     |     |
                        bindings = <
   &kp N8       &kp N7        &kp N6       &kp N5             &kp N9        &kp EQUAL       &kp STAR        &kp SLASH
   &hml LALT N4 &hml LCTRL N3 &hml LGUI N2 &hsl LSHFT N1      &hsr LSHFT N0 &hmr LGUI SPACE &hmr LCTRL PLUS &hmr LALT MINUS
                              &kp KP_DOT   &kp BSPC           &none     &none
                        >;
                };

                sym_layer {
// -------------------------------    -------------------------------
// |  ~  |  V. |  V- |  V+ |                |  !  |  ?  |  |  |  \  |
// |  `  |  @  |  #  |  $  |                |  %  |  ^  |  &  |  _  |
//                   |     |     |    | SPC | BSPC |
                        bindings = <
   &kp TILDE       &kp C_MUTE    &kp C_VOL_DN   &kp C_VOL_UP         &kp EXCL         &kp QMARK       &kp PIPE        &kp BSLH
   &hml LALT GRAVE &hml LCTRL AT &hml LGUI HASH &hsl LSHFT DLLR      &hsr LSHFT PRCNT &hmr LGUI CARET &hmr LCTRL AMPS &hmr LALT UNDER
                                                &none    &none       &kp SPACE     &kp SPACE
                        >;
                };

                fun_layer {
// -------------------------------    ---------------------------
// | F9  | F10 | F11 | F12 |                | F1 | F2 | F3 | F4 |
// | Alt | Ctl | Gui | Sft |                | F5 | F6 | F7 | F8 |
//                   |     |     |    |     |     |
                        bindings = <
   &kp F9    &kp F10    &kp F11   &kp F12        &kp F1        &kp F2       &kp F3        &kp F4             
   &kp LALT  &kp LCTRL  &kp LGUI  &kp LSHFT      &hsl LSHFT F5 &hml LGUI F6 &hml LCTRL F7 &hml LALT F8
                               &none  &none      &none  &none
                        >;
                };

                bt_layer {
// -------------------------    ---------------------
// |    CLR    | OUT | BT5 |    |    |    |    |    |
// | BT1 | BT2 | BT3 | BT4 |    |    |    |    |    |
//             |     |     |    |    |    |
                        bindings = <
   &none        &none        &out OUT_TOG &bt BT_SEL 4        &none  &none  &none  &none
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3        &none  &none  &none  &none
                                          &none  &none        &none  &none
                        >;
                };                

    };
};


/delete-node/ &gd25q16;
