# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BLE20_LEFT

config ZMK_KEYBOARD_NAME
    default "BLE20"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BLE20_LEFT || SHIELD_BLE20_RIGHT

config ZMK_SPLIT
    default y

endif
